<div class="container mt-4">
  <div class="row">
    <h1>Update du profil de {{ praticien.prenom }} {{ praticien.nom }}</h1>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <div>
            <strong>Nom:</strong>
            <p>{{ praticien.nom }}</p>
          </div>
          <div>
            <strong>Prénom:</strong>
            <p>{{ praticien.prenom }}</p>
          </div>
          <div>
            <strong>Email:</strong>
            <p>{{ praticien.email }}</p>
          </div>
          <div>
            <strong>Fonction:</strong>
            <p>{{ praticien.fonction }}</p>
          </div>
          <div>
            <strong>Spécialisation:</strong>
            <p>{{ praticien.specialisation }}</p>
          </div>
          <div>
            <strong>Téléphone fixe:</strong>
            <p>{{ praticien.telFixe }}</p>
          </div>
          <div>
            <strong>Gsm:</strong>
            <p>{{ praticien.gsm }}</p>
          </div>
      </div>
    </div>
  </div>
</div>
